extends layout2
block content

    script(type="text/javascript",src="http://www.google.com/jsapi")
    script(type="text/javascript").
        google.load('visualization', '1', {packages: ['corechart']});



    link(rel='stylesheet',type='text/css',href="/stylesheets/style.css")
    style(type="text/css",media=screen).
         body {
            font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
         }
         .liaison {
            text-align: right;
            font-size: 1em;
         }
         .value {
            font-size: 1.5em;
            padding: 0.5em;
         }


    h1#main_title(translate) Kanban Dashboard
    div#dashboards

    div#template_KPI


        div(ng-controller="MyAppController",ng-init)


            form.form(role="form")
                div.form-group.col-md-12
                        div.col-xs-4
                            label.control-label(for="startDate",translate) project start date
                            input#startDate.form-control(
                            type="date",
                            ng-model="startDate",
                            ng-required="true")
                            p.help-block(translate) enter the project start date

                        div.col-xs-4
                            label.control-label(for="todayDate",translate) Today's date
                            input#todayDate.form-control(
                            type="date",
                            ng-model="todayDate",
                            ng-required="true")
                            p.help-block(translate) enter current Date

                        div.col-xs-4
                            label.control-label(for="etaDate",translate) ETA   ...
                            input#etaDate.form-control(
                            type="date",
                            ng-model="etaDate",
                            ng-required="true")
                            p.help-block(translate) enter Expected Time of Arrival


                div.form-group
                    div.form-group.col-md-12
                    div.btn.btn-default(ng-click="submit()",translate) Submit

            hr

            h4(translate) Statistics  {{title}}

            table.table.table-striped
                    tr
                        td(translate) KPI
                        td(translate) units
                        td(translate) Last Month
                        td(translate) This Month
                        td(translate) Trend
                    tr
                        td(translate) Velocity User Story
                        td(translate) (# per working day)
                        td.value  {{stats.velocity_us_last_month}}
                        td.value  {{stats.velocity_us}}
                        td  {{stats.velocity_us_trend}}
                    tr
                        td(translate) Lead Time User Stories
                        td(translate) (average working days)
                        td.value  {{stats.average_user_story_lead_time_last_month}}
                        td.value  {{stats.average_user_story_lead_time}}
                        td   {{stats.average_user_story_lead_time_trend}}
                    tr
                        td(translate) Defects Resolution velocity
                        td(translate) (# per working day)
                        td.value  {{stats.velocity_defects_last_month}}
                        td.value  {{stats.velocity_defects}}
                        td  {{stats.velocity_defects_trend}}
                    tr
                        td(translate) Lead Time Defect + Evo
                        td(translate) (average working days)
                        td.value  {{stats.average_defects_lead_time_last_month}}
                        td.value  {{stats.average_defects_lead_time}}
                        td  {{stats.average_defects_lead_time_trend}}
                    tr
                        td(translate) Average number of generated defects per User Stories
                        td
                        td.value  {{stats.ratio_defect_per_us_last_month}}
                        td.value  {{stats.ratio_defect_per_us}}
                        td  {{stats.ratio_defect_per_us_trend}}

            p
                span(translate) Data extracted on
                span  {{stats.today  | date:'mediumDate' }} .

            h2(translate) Forecast

            p(translate) given the current hypothesis :

            table.table.table-striped

                tr
                    td
                    td
                        span  {{stats.nb_known_us}}
                    td(translate) users stories known so far today
                tr
                    td.liaison(translate) in which
                    td
                        span  {{stats.nb_delivered_us}}
                    td(translate) are already released
                tr
                    td.liaison(translate) in which
                    td
                        span  {{stats.nb_in_progress_us}}
                    td(translate) are currently in progress
                tr
                    td.liaison(translate) and
                    td
                        span  {{stats.nb_new_us}}
                    td(translate) are still waiting in the backlog

                tr
                    td
                    td
                        span  {{stats.nb_known_defects}}
                    td(translate) bugs/enhancements known so far today
                    tr
                        td.liaison(translate) in which
                        td
                            span  {{stats.nb_in_progress_defects}}
                        td(translate) are currently in progress
                    tr
                        td.liaison(translate) and
                        td
                            span  {{stats.nb_new_defects}}
                        td(translate) are still waiting in the backlog
                tr
                    td.liaison(translate) a ratio of
                    td
                        span  {{stats.ratio_defect_per_us}}
                    td(translate) bugs/evolutions per user story in average
                tr
                    td.liaison(translate) initial ETA date
                    td
                    td
                        span  {{stats.eta_expected | date:'mediumDate' }}

            table#forecast_table.table.table-striped
                thead
                    th(translate) new user stories added to complete the project
                    th(ng-repeat="forecast in stats.forecasts")
                        span  {{forecast.nb_incoming_us}}
                tr
                    td(translate) estimated number of generated defects
                    td(ng-repeat="forecast in stats.forecasts")
                        span  {{forecast.estimated_number_of_future_defects}}
                tr
                    td(translate) number of fixed defect during mixed period
                    td(ng-repeat="forecast in stats.forecasts")
                        span  {{forecast.number_of_fixed_defect_during_mixed_period}}
                tr
                    td(translate) remaining defect to fix after us_story done
                    td(ng-repeat="forecast in stats.forecasts")
                        span  {{forecast.remaining_defect_during_fast_period}}
                tr
                    td(translate) number of days to fixed remaining defect (speedup factor 1)
                    td(ng-repeat="forecast in stats.forecasts")
                        span  {{forecast.number_of_days_to_fixed_remaining_defect_fast1}}
                tr
                    td(translate) number of days to fixed remaining defect (speedup factor 2)
                    td(ng-repeat="forecast in stats.forecasts")
                        span  {{forecast.number_of_days_to_fixed_remaining_defect_fast2}}
                tr
                    td
                        p(translate) probable Estimated Date of Arrival
                        p(translate) (taking user stories velocity + speed up factor 1)
                    td(ng-repeat="forecast in stats.forecasts")
                        span  {{forecast.eta_probable | date:'mediumDate' }}
                tr
                    td
                        p(translate) number of non working days to completion
                        p(translate) (vacation/week-end/bank holidays)

                    td(ng-repeat="forecast in stats.forecasts")
                        span  {{forecast.non_business_days}}
                tr
                    td(translate) delay/advance (in calendar days)
                    td(ng-repeat="forecast in stats.forecasts")
                        span   {{forecast.delta_eta}}


            // div(google-chart,chart="chartObject",style="{{cssStyle}}")
            div(google-chart,chart="global_CumulativeFlowDiagram",style="{{cssStyle}}")
            div(google-chart,chart="global_LeadTime",style="{{cssStyle}}")
            div(google-chart,chart="global_Throughput",style="{{cssStyle}}")

            div(google-chart,chart="us_CumulativeFlowDiagram",style="{{cssStyle}}")
            div(google-chart,chart="us_LeadTime",style="{{cssStyle}}")
            div(google-chart,chart="us_Throughput",style="{{cssStyle}}")

            div(google-chart,chart="bug_CumulativeFlowDiagram",style="{{cssStyle}}")
            div(google-chart,chart="bug_LeadTime",style="{{cssStyle}}")
            div(google-chart,chart="bug_Throughput",style="{{cssStyle}}")



    include doc

    script(src="/angular/angular.js")
    script(src="/angular-bootstrap/ui-bootstrap-tpls.js")
    script(src="/angular-google-chart/ng-google-chart.js")
    script(src="/angular-gettext/dist/angular-gettext.js")
    script(src="/javascript/dashboard2.bundle.js")
    script(src="/javascript/translations.js")
    link(rel="stylesheet",type='text/css',href="/bootstrap/dist/css/bootstrap.css")
